nav {
  width: 100%;
  height: 90px;
  padding: 5px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 10px #222;
  position: fixed;
  z-index: 1000;
  background-color: #fff;
}
#bars {
  display: none;
}

.dark nav {
  background-color: #222;
  box-shadow: 0px 0px 10px #fff;
}

.logo img {
  width: 160px;
}

.all-icon-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbars ul {
  display: flex;
}

.links {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navbars ul li {
  margin: 0px 11px;
  cursor: pointer;
  color: #222;
}

/* a classe dark é do component pai, se a classe dark existir ele aplica esses estilos */
.dark .navbars ul li {
  color: #fff;
}

.navbars ul link {
  color: #fff;
}

.dark .navbars ul link {
  color: #fff;
}

.img {
  width: 30px;
  margin: 0px 6px;
  cursor: pointer;
}

hr {
  border: none;
  width: 100%;
  height: 2px;
  background-color: #ff6969;
}

@media (max-width: 900px) {
  #bars {
    display: block;
    width: 40px;
    z-index: 100;
    cursor: pointer;
  }

  .logo img {
    z-index: 100;
  }

  nav {
    justify-content: space-between;
    padding: 5px 0px;
  }

  .navbars {
    position: absolute;
    top: 70px;
    right: 0;
    left: 0;
    background: #fff;
    height: 0;
    border-bottom: 2px solid #222;
    opacity: 0;
    padding-top: 50px;
    transition: 0.6s ease;
  }

  .navbars.show {
    height: 300px;
    opacity: 1;
    padding-top: 0px;
  }

  .dark .navbars {
    background: #222;
    border-bottom: 2px solid #fff;
  }
  .navbars ul {
    display: block;
    margin: 60px auto 0x auto;
  }

  .links {
    display: block;
    text-align: center;
  }

  .navbars ul li {
    margin: 20px 0px;
    display: block;
  }

  hr {
    width: 50px;
    margin: auto;
  }
}

@media (max-width: 500px) {
  #bars {
    width: 30px;
  }

  .logo img {
    width: 100px;
  }
}

.crt {
  position: relative;
}

.crt-bt {
  width: 14px;
  height: 14px;
  background-color: green;
  position: absolute;
  top: -10px;
  right: 0;
  border-radius: 50%;
}
